@use '../variables/index.scss' as *;
@use '../utilities/index.scss' as *;

body {
  color: var(--foreground);
  background-color: var(--background);
}

header {
  position: sticky;
}

.topbar {
  display: none;

  @include sm {
    display: inherit;
  }
}

.bottombar {
  display: block;

  @include sm {
    display: none;
  }
}
