@use '../../variables/index.scss' as *;
@use '../../utilities/index.scss' as *;

.background {
  @include margin(16, "y");
  @include space(8, "y");

  >.header {
    @include padding(4, "x");
    color: var(--secondary)
  }

  >.body {
    @include padding(4, "x");

    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    @include gap(12);

    @include sm {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }


    >p {
      @include padding(6, "r");
    }
  }
}
