@use '../../variables/index.scss' as *;
@use '../../utilities/index.scss' as *;

.education {
  @include margin(16, "y");
  @include space(8, "y");

  >.header {
    @include padding(4, "x");
    color: var(--secondary);
  }

  >.body {
    display: grid;
    grid-template-columns: 1fr;
    @include gap(2);
  }

  .table {
    @include padding(4, "x");
    width: 100%;
    border-collapse: separate;
    border-spacing: calc(4 * var(--spacing)) calc(4 * var(--spacing));
    table-layout: fixed;

    th {
      width: 20%;
      display: none;

      @include sm {
        display: table-cell;
        text-align: right;
        vertical-align: baseline;
      }

      &:not(:first-child) {
        color: var(--muted-foreground);
      }
    }

    td {
      width: 80%;
      vertical-align: baseline;
      @include space(2, "y");

      >label {
        display: flex;

        @include sm {
          display: none;
        }
      }
    }

    tr {
      &:first-child {
        color: var(--secondary);
      }

      &:not(:first-child)>th,
      &:not(:first-child)>td>label {
        color: var(--muted-foreground);
      }
    }
  }
}
