@use '../../variables/index.scss' as *;
@use '../../utilities/index.scss' as *;

.hero {
  @include padding(24, "y");

  min-height: 100dvh;
  @include padding(2.5, "x");

  display: grid;
  grid-template-areas: "top" "mid" "bot";
  place-items: center;
  text-align: center;


  &_top {
    grid-area: "top";
    display: flex;
    flex-direction: column;
  }

  &_mid {
    grid-area: "mid";
    display: flex;
    flex-direction: column;
    @include gap(5);

    &>h1 {
      color: var(--secondary);
    }
  }

  &_bot {
    grid-area: "bot";
    display: flex;
    flex-direction: column;
  }
}
