@use '../../variables/index.scss' as *;
@use '../../utilities/index.scss' as *;

.projects {
  @include margin(16, "y");
  @include space(8, "y");

  &_header {
    @include padding(4, "x");
    color: var(--secondary);
  }

  &_footer {
    @include padding(4, "x");
    text-align: center;
  }

  &_list {
    @include padding(4, "x");
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    @include gap(8);

    @include lg {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include xl {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}

.project {
  flex: 1;
  @include space(4, "y");

  &_title {}

  &_description {}

  &_link {
    height: calc(5 * var(--spacing));
    width: calc(5 * var(--spacing));
    color: var(--muted-foreground);

    &:hover {
      color: var(--foreground);
    }
  }

  &_highlights {
    >label {
      @include fluid-size(4, 4);
      font-weight: 600;
      @include margin(2, "b");

      >svg {
        height: calc(4 * var(--spacing));
        width: calc(4 * var(--spacing));
      }
    }

    >ul {
      @include padding(6, "l");
      list-style-type: disc;
      list-style-position: outside;
    }
  }

  &_technologies {
    >label {
      @include fluid-size(4, 4);
      font-weight: 600;
      @include margin(2, "b");

      >svg {
        height: calc(4 * var(--spacing));
        width: calc(4 * var(--spacing));
      }
    }

    >ul {
      display: flex;
      flex-wrap: wrap;
      @include gap(1);
    }
  }

  &_languages {
    >label {
      @include fluid-size(4, 4);
      font-weight: 600;
      @include margin(2, "b");

      >svg {
        height: calc(4 * var(--spacing));
        width: calc(4 * var(--spacing));
      }
    }

    >ul {
      display: flex;
      flex-wrap: wrap;
      @include gap(1);
    }
  }
}
