@use '../../variables/index.scss' as *;
@use '../../utilities/index.scss' as *;

.skills {
  @include space(4, "y");

  .skill-type {
    color: var(--muted-foreground);
    @include margin(2, "b");
  }

  .skill-list {
    display: inline-flex;
    flex-wrap: wrap;
    @include gap(2);
  }
}
