@use "../variables/index.scss" as *;

@mixin gap($number, $direction: None) {
  @if $direction ==x {
    column-gap: calc($number * var(--spacing));
  }

  @else if $direction ==y {
    row-gap: calc($number * var(--spacing));
  }

  @else {
    gap: calc($number * var(--spacing));
  }
}

@mixin space($number, $direction: x, $reverse: 0) {
  @if $direction ==y {
    &> :not(:last-child) {
      margin-block-start: calc($number * var(--spacing)) * $reverse;
      margin-block-end: calc($number * var(--spacing)) * (1 - $reverse);
    }
  }

  @else {
    &> :not(:last-child) {
      margin-inline-start: calc($number * var(--spacing)) * $reverse;
      margin-inline-end: calc($number * var(--spacing)) * (1 - $reverse);
    }
  }
}
