@use "../variables/index.scss" as *;

@mixin margin($number, $direction: None) {
  @if $direction ==t {
    margin-top: calc($number * var(--spacing));
  }

  @else if $direction ==b {
    margin-bottom: calc($number * var(--spacing));
  }

  @else if $direction ==l {
    margin-left: calc($number * var(--spacing));
  }

  @else if $direction ==r {
    margin-right: calc($number * var(--spacing));
  }

  @else if $direction ==x {
    margin-left: calc($number * var(--spacing));
    margin-right: calc($number * var(--spacing));
  }

  @else if $direction ==y {
    margin-top: calc($number * var(--spacing));
    margin-bottom: calc($number * var(--spacing));
  }

  @else {
    margin: calc($number * var(--spacing));
  }
}
