@use "../variables/index.scss" as *;

@mixin padding($number, $direction: None) {
  @if $direction ==t {
    padding-top: calc($number * var(--spacing));
  }

  @else if $direction ==b {
    padding-bottom: calc($number * var(--spacing));
  }

  @else if $direction ==l {
    padding-left: calc($number * var(--spacing));
  }

  @else if $direction ==r {
    padding-right: calc($number * var(--spacing));
  }

  @else if $direction ==x {
    padding-left: calc($number * var(--spacing));
    padding-right: calc($number * var(--spacing));
  }

  @else if $direction ==y {
    padding-top: calc($number * var(--spacing));
    padding-bottom: calc($number * var(--spacing));
  }

  @else {
    padding: calc($number * var(--spacing));
  }
}
