@use "sass:math";
@use "../variables/index.scss" as *;
@use "../variables/index.scss" as *;

@mixin fluid-size($min_multiplier, $max_multiplier) {
  $min_viewport: 30rem;
  $max_viewport: $breakpoint-xl;
  $viewport_offset: math.div($min_viewport, 100);

  $min_size: $min_multiplier * 1rem;
  $max_size: $max_multiplier * 1rem;

  $delta: (
    $max_multiplier - $min_multiplier) * 1rem;
  $linear_factor: math.div(100 * $delta, $max_viewport - $min_viewport
  );

font-size: clamp(calc(#{$min_multiplier} * var(--spacing)),
  calc(#{$min_multiplier} * var(--spacing) + (1vw - #{$viewport_offset}) * #{$linear_factor}),
  calc(#{$max_multiplier} * var(--spacing)));
}

@mixin line-clamp($number) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $number;
}
