{% extends "layouts/base.html" %} {% block content %}

<button class="primary">hello</button>
<h1> IN DEVELOPMENT !!! </h1>
<h1>Rakhat Yskak</h1>
<h2>Rakhat Yskak</h2>
<h3>Rakhat Yskak</h3>
<h4>Rakhat Yskak</h4>
<h5>Rakhat Yskak</h5>
<h6>Rakhat Yskak</h6>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
  nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
  eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
  in culpa qui officia deserunt mollit anim id est laborum.
</p>
<blockquote>My name is Rakhat</blockquote>
<table>
  <thead>
    <tr>
      <th>King's Treasury</th>
      <th>People's happiness</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Empty</td>
      <td>Overflowing</td>
    </tr>
    <tr>
      <td>Modest</td>
      <td>Satisfied</td>
    </tr>
    <tr>
      <td>Full</td>
      <td>Ecstatic</td>
    </tr>
  </tbody>
</table>
<ul>
  <li>1st level of puns: 5 gold coins</li>
  <li>2nd level of jokes: 10 gold coins</li>
  <li>3rd level of one-liners : 20 gold coins</li>
</ul>
<code> @github/4ry1337 </code>

{% endblock content %}
