<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google" content="notranslate" />
    <meta http-equiv="Content-Language" content="en_US" />
    <meta name="author" content="{{ config.author }}">
    <meta name="google-site-verification" content="mLkCldTT57DKAxUdGn2FbT7sPQflGNd81uU4P8hot1A" />
    <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ get_url(path='fonts/IosevkaWeb/IosevkaWeb.css') }}" />
    <link rel="stylesheet" href="{{ get_url(path='style/normalize.css') }}" />
    <link rel="stylesheet" href="{{ get_url(path='style/index.min.css') }}" />
  </head>
  <body>
      {#{% include "components/topbar.html" %}#}
      {% block content %}{% endblock content %}
      {% block sidebar %}{% endblock sidebar %}
      {% include "components/footer.html" %}
      {% include "components/bottombar.html" %}
      {% block script %}
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          let currentPath = window.location.pathname;

          const links = document.querySelectorAll(".navigation-link");

          links.forEach((link) => {
            const linkPath = new URL(link.href).pathname;
            if (linkPath === currentPath) {
              link.classList.add("active");
            } else {
              link.classList.remove("active");
            }
          });
        });
      </script>
      {% endblock script %}
  </body>
</html>
