<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google" content="notranslate" />
    <meta http-equiv="Content-Language" content="en_US" />
    <title>{{ title }}</title>
    <meta name="description" content="{{description}}" />
    <link rel="stylesheet" href="/assets/fonts/IosevkaWeb/IosevkaWeb.css" />
    <link rel="stylesheet" href="/assets/style/normalize.css" />
    <link rel="stylesheet" href="/assets/style/index.min.css" />
  </head>
  <body >
    {% include "widgets/topbar.html" %}
    <div class="container scrollable">
      <main>
        {% block content %}{% endblock content %}
      </main>
      <section class="sidebar">
        {% block sidebar %}{% endblock sidebar %}
      </section>
    </div>
    <footer class="container">
        {% include "widgets/footer.html" %}
    </footer>
    {% include "widgets/bottombar.html" %}
  </body>
</html>
