<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google" content="notranslate" />
    <meta http-equiv="Content-Language" content="en_US" />
    <title>{{ title }}</title>
    <meta name="description" content="{{description}}" />
    <link rel="stylesheet" href="/assets/fonts/IosevkaWeb/IosevkaWeb.css" />
    <link rel="stylesheet" href="/assets/style/normalize.css" />
    <link rel="stylesheet" href="/assets/style/index.min.css" />
  </head>
  <body >
      <main class="container">
        {% block content %}{% endblock content %}
        {% block content %}{% endblock content %}
      </main>
      {% include "widgets/bottombar.html" %}
      <!-- <section class="sidebar"> -->
      <!--   {% block sidebar %}{% endblock sidebar %} -->
      <!-- </section> -->
    <!-- <footer class="container"> -->
    <!--     {% include "widgets/footer.html" %} -->
    <!-- </footer> -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        //const baseUrl = "/dist";

        //const normalize = (path) => {
        //  // Remove baseUrl prefix if present
        //  if (baseUrl !== "/" && path.startsWith(baseUrl)) {
        //    path = path.slice(baseUrl.length);
        //  }
        //  // Remove trailing slash except for root
        //  return path !== "/" ? path.replace(/\/+$/, "") : "/";
        //};

        const currentPath = normalize(window.location.pathname);
        const links = document.querySelectorAll(".navbar a");

        links.forEach((link) => {
          const linkPath = normalize(new URL(link.href).pathname);
          if (linkPath === currentPath) {
            link.classList.add("active");
          } else {
            link.classList.remove("active");
          }
        });
      });
    </script>
  </body>
</html>
