{% set experience = load_data(path="content/3_experience.toml", format="toml")%}

<section class="experience">
  <h3 class="header">Experience</h3>
  <div class="body">
    {% for experience in experience.experience %}
    <table class="table">
      <tr class="title">
        <th>
          {{ experience.start_date | date(format="%b") }}&nbsp;{{ experience.start_date | date(format="%Y") }}
          -
          {% if experience.end_date is defined %}
            {{ experience.end_date | date(format="%b") }}&nbsp;{{ experience.end_date | date(format="%Y") }}
          {% else %}
            Present
          {% endif %}
        </th>
        <td>
          <label>
          {{ experience.start_date | date(format="%b") }}&nbsp;{{ experience.start_date | date(format="%Y") }}
          -
          {% if experience.end_date is defined %}
            {{ experience.end_date | date(format="%b") }}&nbsp;{{ experience.end_date | date(format="%Y") }}
          {% else %}
            Present
          {% endif %}
          </label>
          <h3>{{ experience.title }}</h3>
        </td>
      </tr>
      <tr class="company">
        <th>Company:</th>
        <td>
          <label>
            Company:
          </label>
          <h4>{{ experience.company }}</h4>
        </td>
      </tr>
      <tr class="location">
        <th>Location:</th>
        <td>
          <label>
            Location:
          </label>
          <h5>{{ experience.location }}</h5>
        </td>
      </tr>
      {% if experience.description is defined %}
      <tr class="description">
        <th>Description:</th>
        <td>
          <label>
            Description:
          </label>
          <h5>{{ experience.description }}</h5>
        </td>
      </tr>
      {% endif %}
      <tr class="achievements">
        <th>Achievements:</th>
        <td>
          <label>
            Achievements:
          </label>
          <div class="achievement">
            <ul class="list">
              {% for achievement in experience.achievements %}
              <li>{{ achievement }}</li>
              {% endfor %}
            </ul>
          </div>
        </td>
      </tr>
      {% if experience.technologies is defined %}
        <tr class="technologies">
          <th>Used:</th>
          <td class="technology">
            <label>
              Used:
            </label>
            <ul class="list">
              {% for technology in experience.technologies %}
              <li class="badge">{{ technology }}</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      {% endif %}
    </table>
    {% endfor %}
  </div>
</section>
