{% set projects = load_data(path="content/4_projects.toml", format="toml") %}
{% set projects = projects.projects %}

<section id="projects" class="projects">
  <h2 class="header">Projects</h2>
  <div class="list">
    {% for project in projects %}
    <div class="card">
      <hgroup class="card_header">
        <div class="card_title">
          <h3 class="project_title">
            {{ project.title }}
          </h3>
        </div>
        {% if project.description %}
        <div class="card_description">
          <p class="project_description">{{ project.description }}</p>
        </div>
        {% endif %}
        <div class="card_action">
          <a class="project_link" href="{{ project.url }}" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-external-link-icon lucide-external-link"><path d="M15 3h6v6"/><path d="M10 14 21 3"/><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"/></svg>
          </a>
        </div>
      </hgroup>
      <div class="card_content">
        <div class="project">
          {% if project.highlights %}
          <div class="project_highlights">
            <label> Key highlights: </label>
            <ul>
              {% for point in project.highlights %}
              <li>{{ point }}</li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
          {% if project.languages %}
          <div class="project_languages">
            <label> 
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-code-icon lucide-code"><path d="m16 18 6-6-6-6"/><path d="m8 6-6 6 6 6"/></svg>
              Languages: 
            </label>
            <ul>
              {% for language in project.languages %}
              <li class="badge secondary">{{ language }}</li>
              {% endfor%}
            </ul>
          </div>
          {% endif %}
          {% if project.technologies %}
          <div class="project_technologies">
            <label> 
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-wrench-icon lucide-wrench"><path d="M14.7 6.3a1 1 0 0 0 0 1.4l1.6 1.6a1 1 0 0 0 1.4 0l3.77-3.77a6 6 0 0 1-7.94 7.94l-6.91 6.91a2.12 2.12 0 0 1-3-3l6.91-6.91a6 6 0 0 1 7.94-7.94l-3.76 3.76z"/></svg>
              Technologies: 
            </label>
            <ul>
              {% for technology in project.technologies %}
              <li class="badge outline">{{ technology }}</li>
              {% endfor%}
            </ul>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
