@use "../variables/index.scss" as *;
@use "../utilities/index.scss" as *;

.badge {
  display: inline-flex;
  width: fit-content;
  overflow: hidden;

  @include gap(1);
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  @include border-full;
  border-width: 1px;
  @include padding(2, "x");
  @include padding(0.5, "y");
  white-space: nowrap;

  /* text-xs font-medium  */
  &>svg {
    height: calc(3 * var(--spacing));
    width: calc(3 * var(--spacing));
    pointer-events: none;
  }

  &:focus-visible {
    border-color: var(--ring);
    @include ring(3px, oklch(from var(--ring) l c h / 0.5));
  }

  &:aria-invalid {
    border-color: var(--error);
    @include ring(3px, oklch(from var(--error) l c h / 0.2));
    /* dark:aria-invalid:ring-destructive/40 */
  }

  /* transition: color, box-shadow; */

  &.primary {
    border-color: transparent;
    background-color: var(--primary);
    color: var(--primary-foreground);

    a & {
      &:hover {
        background-color: oklch(from var(--primary) l c h / 0.9);
      }
    }
  }


  &.secondary {
    border-color: transparent;
    background-color: var(--secondary);
    color: var(--secondary-foreground);

    a & {
      &:hover {
        background-color: oklch(from var(--secondary) l c h / 0.9);
      }
    }
  }

  &.outline {
    color: var(--foreground);

    a & {
      &:hover {
        background-color: var(--primary);
        color: var(--primary-foreground);
      }
    }
  }
}
