@use "./colors.scss" as *;

:root {
  --radius: 0.65rem;
  --spacing: 0.25rem;

  --background: #EAD8A4;
  --foreground: #1A1A1A;
  --surface: #ECEDB0;
  --surface-foreground: #4B4B4B;
  --primary: #D6D85D;
  --primary-foreground: #3D3D3D;
  --secondary: #F68537;
  --secondary-foreground: #1A1A1A;
  --muted: #D2C9A7;
  --muted-foreground: #383838;
  --border: #C1BA99;
  --ring: #AFA87C;
}
