@use "../variables/index.scss" as *;
@use "../utilities/index.scss" as *;

ol.breadcrumb-list {
  color: var(--muted);
  flex-wrap: wrap;
  align-items: center;
  @include gap(1.5);
  /* text-sm; */
  /* break-words; */

  @include sm {
    @include gap(2.5);
  }

  li.breadcrumb-item {
    display: inline-flex;
    align-items: center;
    @include gap(1.5);
  }

  a.breadcrumb-link {
    transition: all;

    &:hover {
      color: var(--foreground)
    }
  }

  li.breadcrumb-separator {
    /* role="presentation" */
    /* aria-hidden="true" */
    /* children ?? <ChevronRight /> */

    svg {
      height: $spacing * 3.5;
      width: $spacing * 3.5;
    }
  }

  span.breadcrumb-ellipsis {
    display: flex;
    height: $spacing * 9;
    width: $spacing * 9;
    align-items: center;
    justify-content: center;

    svg {
      height: $spacing * 4;
      width: $spacing * 4;
    }
  }
}
