@use "sass:color";
@use "../variables/index.scss" as *;
@use "../utilities/index.scss" as *;

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  @include gap(2);
  @include border-raduis(1.5);
  outline: none;
  flex-shrink: 0;
  white-space: nowrap;
  transition: all;

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &:focus-visible {
    border: 1px solid $ring;
    @include ring(3px, color.change($ring, $alpha: 0.5))
  }

  &:has(>svg) {
    @include padding(3, "x");
  }

  svg {
    width: $spacing * 4;
    height: $spacing * 4;
    flex-shrink: 0;
    pointer-events: none;
  }

  &_sm {
    @extend .button;
    height: $spacing * 8;
    @include padding(3, "x");
    @include gap(1.5);

    &:has(>svg) {
      @include padding(2.5, "x");
    }
  }

  &_md {
    @extend .button;
    height: $spacing * 9;
    @include padding(4, "x");
    @include padding(2, "y");
    @include gap(1.5);

    &:has(>svg) {
      @include padding(2.5, "x");
    }
  }

  &_lg {
    @extend .button;
    height: $spacing * 10;
    @include padding(6, "x");

    &:has(>svg) {
      @include padding(4, "x");
    }
  }

  &_icon {
    @extend .button;
    height: $spacing * 9;
    width: $spacing * 9
  }

  &.primary {
    background-color: $primary;
    color: $primary-foreground;
    box-shadow: $shadow-xs;

    &:hover {
      background-color: color.change($primary, $alpha: 0.9)
    }
  }

  &.secondary {
    background-color: $secondary ;
    color: $secondary-foreground;
    box-shadow: $shadow-xs;

    &:hover {
      background-color: color.change($secondary, $alpha: 0.8)
    }
  }

  &.ghost {
    &:hover {
      background-color: $accent;
      color: $accent-foreground;
    }

    /* ghost: "dark:hover:bg-accent/50", */
  }

  &.error {
    background-color: $error;
    color: $color-white;
    box-shadow: $shadow-xs;

    &:hover {
      background-color: color.change($error, $alpha: 0.9)
    }

    &:focus-visible {
      @include ring($color: color.change($error, $alpha: 0.2))
    }

    /* "dark:focus-visible:ring-destructive/40 dark:bg-destructive/60", */
  }

  &.outline {
    border-width: 1px;
    background-color: $background;
    box-shadow: $shadow-xs;

    &:hover {
      background-color: $accent;
      color: $accent-foreground;
    }

    /* dark:bg-input/30 dark:border-input dark:hover:bg-input/50 */
  }
}

a {
  &.button {
    color: $primary;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }
}

button {
  @extend .button_md;
}
