@use "../variables/index.scss" as *;
@use "../utilities/index.scss" as *;

input {
  display: flex;
  height: $spacing * 9;
  width: 100%;
  min-width: 0px;
  @extend .radius-md;
  @include padding(3, "x");
  @include padding(1, "y");
  border-width: 1px;
  @include shadow-xs;
  background-color: transparent;
  outline: none;
  transition: all;

  /* dark:bg-input/30 text-base */

  &::placeholder {
    color: var(--muted-foreground);
  }

  :disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:focus-visible {
    border: 1px solid var(--ring);
    @include ring(3px, oklch(from var(--ring) l c h / 0.5));
  }

  &:area-invalid {
    border-color: var(--error);
    @include ring(2px, oklch(from var(--error) l c h / 0.2));
  }

  &::file {
    color: var(--foreground);
    display: inline-flex;
    height: $spacing * 7;
    border-width: 0px;
    background-color: transparent;
    @include fluid-size(4, 4);
    font-weight: $font-weight-medium
  }

  &::selection {
    color: var(--primary-foreground);
    background-color: var(--primary);
  }

  /* dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive" */
}

textarea {
  display: flex;
  field-sizing: content;
  min-height: $spacing * 16;
  width: 100%;
  @extend .radius-md;
  border: 1px solid var(--input);
  @include padding(3, "x");
  @include padding(2, "y");
  @include shadow-xs;
  background-color: transparent;
  transition: all;
  outline: none;

  &::placeholder {
    color: var(--muted-foreground);
  }

  &:focus-visible {
    border-color: var(--ring);
    @include ring(3px, oklch(from var(--ring) l c h / 0.5));
  }

  &:aria-invalid {
    border-color: var(--error);
    @include ring(2px, oklch(from var(--error) l c h / 0.2));
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  /* dark:aria-invalid:ring-destructive/40 dark:bg-input/30 text-base md:text-sm", */
}
