@use "sass:color";
@use "../variables/index.scss" as *;
@use "../utilities/index.scss" as *;
@use "./button.scss" as *;

a.button {
  @extend .md;

  color: var(--primary);
  text-decoration: none;

  &:hover:not(:disabled) {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}
