@use "../variables/index.scss" as *;

@mixin gap($number, $direction: None) {
  $value: $number * $spacing;

  @if $direction ==x {
    column-gap: $value;
  }

  @else if $direction ==y {
    row-gap: $value;
  }

  @else {
    gap: $value;
  }
}

@mixin space($number, $direction: x, $reverse: 0) {
  $value: $number * $spacing;

  @if $direction ==y {
    &> :not(:last-child) {
      margin-block-start: $value * $reverse;
      margin-block-end: $value * (1 - $reverse);
    }
  }

  @else {
    &> :not(:last-child) {
      margin-inline-start: $value * $reverse;
      margin-inline-end: $value * (1 - $reverse);
    }
  }
}
