@use "../variables/index.scss" as *;

@mixin margin($direction, $number: 1) {
  $value: $number * $spacing;

  @if $direction ==t {
    margin-top: $value;
  }

  @else if $direction ==b {
    margin-bottom: $value;
  }

  @else if $direction ==l {
    margin-left: $value;
  }

  @else if $direction ==r {
    margin-right: $value;
  }

  @else if $direction ==x {
    margin-left: $value;
    margin-right: $value;
  }

  @else if $direction ==y {
    margin-top: $value;
    margin-bottom: $value;
  }

  @else {
    margin: $value;
  }
}
