body {
  container-type: inline-size;
}

main {
  width: 100%;
  margin: 0 auto;
  padding: calc(var(--spacing) * 4);
}

@container (min-width: 40rem) {
  main {
    max-width: var(--breakpoint-sm);
  }
}

@container (min-width: 48rem) {
  main {
    max-width: var(--breakpoint-md);
  }
}

@container (min-width: 64rem) {
  main {
    max-width: var(--breakpoint-lg);
  }
}
