@use '../variables/index.scss' as *;
@use '../components/index.scss' as *;
@use '../utilities/index.scss' as *;

body {
  color: var(--foreground);
  background-color: var(--background);
  transition: background-color 0.4s ease, color 0.4s ease;
}

.bottombar {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  @include padding(4, 'b');
}

.navbar {
  z-index: 2;
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: transparent;
  justify-content: center;
  @include space(2);
  @include padding(1.5);
  @extend .border-full;

  $blur-value: 10px;
  backdrop-filter: blur($blur-value);
  -webkit-backdrop-filter: blur($blur-value);

  &>.active {
    @extend .primary;
  }
}
