body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

header {
  flex: 0 0 auto;
}

.scrollable {
  height: 0;
  flex: 1 0 auto;
  overflow: auto;
  scrollbar-gutter: initial;
}
