{% extends "layouts/base.html" %} {% block content %}

<main class="container">
  <div class="notes">
    <div class="notes_header">
      <h1 class="notes_title">Notes | {{term.name}} ({{term.page_count}})</h1>
      <h5 class="notes_description"><a class="underline" href="/tags">Go back</a></h5>
    </div>
    <div class="notes_list">
      {% for page in term.pages %}
      <a class="card notes_item" href="{{ page.permalink | safe }}">
        <hgroup class="card_header">
          <h3 class="card_title">{{ page.title }}</h3>
          <div class="card_description">
            {% if page.description %}
            <p>{{ page.description }}</p>
            {% endif %}
          </div>
          <div class="card_action">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up-right-icon lucide-arrow-up-right"><path d="M7 7h10v10"/><path d="M7 17 17 7"/></svg>
          </div>
        </hgroup>
        <div class="card_content">
          <div class="note_meta">
            <div>
              <div class="label">Published</div>
              <div class="value">{{ page.date | date(format="%d %b %Y")}}</div>
            </div>
            <div>
              <div class="label">Read time</div>
              <div class="value">{{ page.reading_time }} min</div>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</main>

{% endblock content %}
