@use '../../variables/index.scss' as *;
@use '../../utilities/index.scss' as *;

.note {
  @include margin(16, "y");
  @include space(16, "y");

  >header {
    @include padding(4, "x");
  }

  &_title {
    color: var(--secondary);
    @include fluid-size(17, 22);
  }

  &_description {}

  &_meta {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include gap(2);

    .label {
      @include fluid-size(3, 4);
      color: var(--muted-foreground);
    }

    .value {
      @include fluid-size(4, 5);
      color: var(--foreground);
    }
  }

  &_layout {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    @include gap(2.5);

    @include lg {
      grid-template-columns: minmax(0, 3fr) minmax(0, 2fr);
    }
  }

  &_body {
    @include space(8, "y");
  }

  &_content {
    @include padding(4, "x");

    h1 {
      @include fluid-size(8, 10);
      font-weight: 800;
      text-wrap: balance;

      &:not(:first-child) {
        @include margin(10, "t");
      }
    }

    h2 {
      @include padding(2, "b");
      @include fluid-size(6, 7);
      @include margin(8, "t");
    }

    h3 {
      @include fluid-size(5, 6);
      font-weight: 600;

      @include margin(6, "t");
    }

    h4 {
      @include fluid-size(5, 5);
      font-weight: 600;
      @include margin(6, "t");
    }

    p {
      line-height: calc(7 * var(--spacing));

      &:not(:first-child) {
        @include margin(6, "t");
      }
    }

    blockquote {
      font-style: italic;
      @include margin(6, "t");
      @include padding(6, "l");
      border-left-width: 2px;
    }

    table {
      width: 100%;

      tr {
        margin: 0;
        border-top: 1px solid;
        padding: 0;

        &:nth-child(even) {
          background-color: var(--muted);
        }
      }

      th {
        border: 1px solid;
        @include padding(4, "x");
        @include padding(2, "y");
        text-align: left;
        font-weight: bold;

        &[align="center"] {
          text-align: center;
        }

        &[align="right"] {
          text-align: right;
        }
      }

      td {
        border: 1px solid;
        @include padding(4, "x");
        @include padding(2, "y");
        text-align: left;

        &[align="center"] {
          text-align: center;
        }

        &[align="right"] {
          text-align: right;
        }
      }
    }

    ul,
    ol {
      @include margin(6, "y");
      @include margin(6, "l");

      >li {
        @include margin(2, "t");
      }
    }

    ul {
      list-style-type: disc;
    }

    ol {
      list-style-type: decimal;
    }

    pre {
      @include border-radius(0.5);
      @include padding(2);
    }

    a {
      white-space: normal;
      color: var(--muted-foreground);
      text-underline-offset: var(--spacing);

      &::before {
        content: '';
        display: inline-block;
        height: calc(3 * var(--spacing));
        width: calc(3 * var(--spacing));
        margin-right: 0.5rem;
        background-color: currentColor;
        mask: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71'/%3e%3cpath d='M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71'/%3e%3c/svg%3e") no-repeat center;
        mask-size: contain;
      }

      &:hover {
        color: var(--foreground);
        text-decoration: underline;
      }
    }
  }

  &_sidebar {
    display: none;
    position: sticky;
    top: calc(2 * var(--spacing));
    height: min-content;
    max-height: calc(100vh - 4 * var(--spacing));
    overflow: hidden auto;

    @include padding(4, "x");
    @include space(4, "y");

    @include lg {
      display: block;
    }
  }

  &_navigation {
    ul {
      list-style-type: square;
      list-style-position: outside;
      @include padding(6, "l");

      li {
        @include margin(2, "b");

        a {
          white-space: normal;
          color: var(--muted-foreground);


          text-underline-offset: var(--spacing);

          &:hover {
            color: var(--foreground);
            text-decoration: underline;
          }
        }
      }
    }
  }

  &_footer {
    @include padding(4, "x");
  }

  &_sources {
    .label {
      color: var(--muted-foreground);
      display: inline-flex;
      align-items: center;
      @include gap(1);

      svg {
        height: calc(4 * var(--spacing));
        width: calc(4 * var(--spacing));
      }
    }

    ul {
      list-style-type: square;
      list-style-position: outside;
      @include padding(6, "l");

      li {
        @include margin(1, "b");

        a {
          word-break: break-all;
          color: var(--muted-foreground);

          text-underline-offset: var(--spacing);

          &:hover {
            color: var(--foreground);
            text-decoration: underline;
          }
        }
      }
    }
  }
}
