@use '../../variables/index.scss' as *;
@use '../../utilities/index.scss' as *;

.notes {
  @include margin(16, "y");
  @include space(8, "y");

  >.header {
    color: var(--secondary);
    @include padding(4, "x");
  }

  >.list {
    @include space(2, "y");
    @include padding(4, "x");

    >.item {
      &:hover {
        scale: 1.02;
      }

      &:focus-visible {
        border-color: var(--ring);
        @include ring(3px, oklch(from var(--ring) l c h / 0.5));
      }
    }
  }
}
