@use '../../variables/index.scss' as *;
@use '../../utilities/index.scss' as *;

.notes {
  @include margin(16, "y");
  @include padding(4, "x");
  @include space(16, "y");

  &_header {
    @include space(4, "y");
  }

  &_title {
    color: var(--secondary);
  }

  &_description {
    color: var(--muted-foreground);
  }

  &_list {
    @include space(2, "y");
  }

  &_item {
    &:hover {
      scale: 1.02;
    }

    &:focus-visible {
      border-color: var(--ring);
      @include ring(3px, oklch(from var(--ring) l c h / 0.5));
    }
  }
}
