@use '../variables/index.scss' as *;
@use '../components/index.scss' as *;
@use '../utilities/index.scss' as *;

.hero {
  min-height: 100svh;
  display: grid;
  grid-template-areas: "top", "mid", "bot";
  place-items: center;
  text-align: center;

  @include padding(2.5);
}

.hero_top {
  grid-area: "top";
  display: flex;
  flex-direction: column;
}

.hero_mid {
  grid-area: "mid";
  display: flex;
  flex-direction: column;
  @include gap(5);

  &>h2 {
    color: var(--muted-foreground);
  }
}

.hero_bot {
  grid-area: "bot";
  display: flex;
  flex-direction: column;
}
