@use '../variables/index.scss' as *;
@use '../utilities/index.scss' as *;

.notes {
  @include padding(2.5);
  min-height: 100svh;
}

.note-list {
  display: flex;
  flex-direction: column;
  @include gap(2);
}

.note-item {
  display: inline-flex;
  align-items: center;

  @include padding(5, "y");
  @include padding(2.5, "x");

  @include border-radius(2.5);
  outline: none;
  border: 1px solid currentColor;
  @include shadow-md();

  &:hover {
    scale: 1.02;
  }

  &:focus-visible {
    border-color: var(--ring);
    @include ring(3px, oklch(from var(--ring) l c h / 0.5));
  }
}

.note-info {
  display: flex;
  flex-direction: column;
  word-wrap: nowrap;
  flex: 1 1 auto;

  &>h3 {}

  &>span {}
}

.note-button {}
