@use '../variables/index.scss' as *;
@use '../utilities/index.scss' as *;

/* font family */
html,
:host {
  font-family: $font-family;
  font-size: calc(var(--spacing) * 4);
}

code,
kbd,
samp,
pre {
  font-family: $mono-font-family;
}

body {
  font-weight: false;
  line-height: 1.65;
}

/* font size */

h1 {
  @include fluid-size(12, 17);
}

h2 {
  @include fluid-size(10, 13);
}

h3 {
  @include fluid-size(8, 10);
}

h4 {
  @include fluid-size(6, 7);
}

h5 {
  @include fluid-size(5, 5);
}

h6 {
  @include fluid-size(4, 4);
}

p {
  @include fluid-size(4, 5);
}

/* line height */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 120%;
}

p {
  line-height: 150%;
}

/* letter spacing */

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.02rem;
}

/* font weights */

h1,
h2 {
  font-weight: 700
}

h3,
h4,
h5 {
  font-weight: 600
}

h6 {
  font-weight: 500
}

p {
  font-weight: 400
}
