@use '../../variables/index.scss' as *;
@use '../../utilities/index.scss' as *;

body {
  color: var(--foreground);
  background-color: var(--background);
}

pre {
  white-space: pre-wrap;
  /* Preserves formatting but allows wrapping */
  word-wrap: break-word;
  /* Forces long words to break */
}

.bottombar {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 20px;

  display: flex;
  justify-content: center;
}

.topbar {
  position: fixed;
  right: 0;
  left: 0;
  top: 20px;

  display: flex;
  justify-content: center;
}

.sidebar {
  display: hidden;

  @include md {
    display: flex
  }
}
